{% extends 'CAIFSharedBundle:Shared:layout.html.twig' %}

{% block page_title_header %}
    Manage Pairing
{% endblock %}

{% block content %}
    <br>
    <div class="panel panel-default">
        <div class="panel-heading">
            {% if student.hostNotNeeded == false %}
                <a href="{{ path('caif_manage_pair_host_not_needed', {'student': student.id}) }}" class="btn btn-danger btn-sm pull-right" style="color: #fff;">
                    {{ icon('remove') }}
                    Host Not Needed
                </a>
            {% endif %}
            <a href="{{ path('caif_manage_index') }}">
                Manage Home
            </a>
            &raquo;
            <a href="{{ path('caif_manage_pair_index') }}">
                Pairing
            </a>
            &raquo;
            {{ student }}
        </div>
        <div class="panel-body">
            <div class="row">
                {# student details #}
                <div class="col-md-4">
                    <center>
                        <div style="display: block;
                            width: 200px;
                            height: 200px;
                            background: #E6E7ED;
                            border-radius: 100px;
                            -webkit-border-radius: 100px;
                            background-image: url(
                                {{ asset('/uploads/' ~ student.photo) }}
                            );
                            background-position: 50% 50%;
                            background-repeat: no-repeat;
                            background-size: cover;">
                        </div>
                    </center>
                    <hr>
                    <center>
                        <h3>{{ student }}</h3>
                        <table class="table table-bordered">
                            <tr>
                                <th>Home Country</th>
                                <td>{{ student.homeCountryName }}</td>
                            </tr>
                            <tr>
                                <th>Gender</th>
                                <td>{{ student.gender|capitalize }}</td>
                            </tr>
                            <tr>
                                <th>Marital Status</th>
                                <td>{{ student.maritalStatus|capitalize }}</td>
                            </tr>
                        </table>
                        <div class="row">
                            <div class="col-md-6">
                                <a href="{{ path('caif_shared_profile_student', {'person': student.id}) }}" class="btn btn-custom btn-block">
                                    {{ icon('user') }}
                                    View Profile
                                </a>
                            </div>
                            <div class="col-md-6">
                                <a href="{{ path('caif_shared_profile_archive', {'person': student.id}) }}" class="btn btn-danger-inverse btn-block">
                                    {{ icon('archive') }}
                                    Archive
                                </a>
                            </div>
                        </div>
                    </center>
                    <hr>
                </div>

                <div class="col-md-8">
                    {# show current host #}
                    <h3>Current Host</h3>
                    {% if student.host|length > 0 %}
                        <table class="table table-bordered table-hover pointer">
                            <thead>
                                <th>Name</th>
                                <th>Country Preference</th>
                                <th>Student Type</th>
                            </thead>
                            <tr class="js-row-click" id="{{ path('caif_shared_profile_host', {'person': student.host.id}) }}">
                                <td>{{ student.host }}</td>
                                <td>{{ student.host.getCountryList(true)[student.host.studentCountry]|default('No preference') }}</td>
                                <td>{{ student.host.studentType }}</td>
                            </tr>
                        </table>
                    {% elseif student.hostNotNeeded %}
                        <div class="well">
                            <a href="{{ path('caif_manage_pair_host_needed', {'student': student.id}) }}" class="btn btn-primary btn-sm pull-right">
                                Add host
                            </a>
                            <span class="light-grey">
                                Host not needed
                            </span>
                        </div>
                    {% else %}
                        <div class="well">
                            <span class="light-grey">Not paired yet</span>
                        </div>
                    {% endif %}

                    {# add host #}
                    {% if student.host == null and student.hostNotNeeded == false %}
                        <hr>
                        <h4>Click to add host</h4>
                        <table class="table table-striped table-bordered table-hover pointer">
                            <thead>
                                <th>Name</th>
                                <th>Country Preference</th>
                                <th>Student Type</th>
                            </thead>
                            {% for host in available_hosts %}
                                <tr class="js-row-click" id="{{ path('caif_manage_pair_add', {'host': host.id, 'student': student.id}) }}">
                                    <td>{{ host }}</td>
                                    <td>{{ host.getCountryList(true)[host.studentCountry]|default('No preference') }}</td>
                                    <td>{{ host.studentType }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
