{% extends 'CAIFSharedBundle:Shared:layout.html.twig' %}

{% block page_title %}
    <div class="main-xs hidden-sm hidden-xs">
        <center>
            <img src="{{ asset('bundles/caifshared/images/logoWhite.png') }}" style="width: 25%;">
        </center>
    </div>
    <div class="main-xs visible-sm visible-xs">
        <center>
            <img src="{{ asset('bundles/caifshared/images/logoWhite.png') }}" style="width: 75%;">
        </center>
    </div>
{% endblock %}


{% block container_content %}
<div id="carousel-example-generic" class="carousel slide hidden-sm hidden-xs" data-ride="carousel" data-interval="5000">
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <div class="row">
                <div class="col-md-4" style="padding: 0px;">
                    <img src="{{ asset('bundles/caifshared/images/header/header1.JPG') }}" style="height: 400px; width: 100%; -o-object-fit: contain;">
                </div>
                <div class="col-md-4" style="padding: 0px;">
                    <img src="{{ asset('bundles/caifshared/images/header/header2.JPG') }}" style="height: 400px; width: 100%; -o-object-fit: contain;">
                </div>
                <div class="col-md-4" style="padding: 0px;">
                    <img src="{{ asset('bundles/caifshared/images/header/header3.JPG') }}" style="height: 400px; width: 100%; -o-object-fit: contain;">
                </div>
            </div>
        </div>
        <div class="item">
            <div class="row">
                <div class="col-md-4" style="padding: 0px;">
                    <img src="{{ asset('bundles/caifshared/images/header/header5.jpg') }}" style="height: 400px; width: 100%; -o-object-fit: contain;">
                </div>
                <div class="col-md-4" style="padding: 0px;">
                    <img src="{{ asset('bundles/caifshared/images/header/header4.JPG') }}" style="height: 400px; width: 100%; -o-object-fit: contain;">
                </div>
                <div class="col-md-4" style="padding: 0px;">
                    <img src="{{ asset('bundles/caifshared/images/header/header8.JPG') }}" style="height: 400px; width: 100%; -o-object-fit: contain;">
                </div>
            </div>
        </div>
        <div class="item">
            <div class="row">
                <div class="col-md-4" style="padding: 0px;">
                    <img src="{{ asset('bundles/caifshared/images/header/header7.JPG') }}" style="height: 400px; width: 100%; -o-object-fit: contain;">
                </div>
                <div class="col-md-4" style="padding: 0px;">
                    <img src="{{ asset('bundles/caifshared/images/header/header6.jpg') }}" style="height: 400px; width: 100%; -o-object-fit: contain;">
                </div>
                <div class="col-md-4" style="padding: 0px;">
                    <img src="{{ asset('bundles/caifshared/images/header/header9.jpg') }}" style="height: 400px; width: 100%; -o-object-fit: contain;">
                </div>
            </div>
        </div>
    </div>
</div>
<div style="padding: 75px 0px;">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-8 col-md-offset-2">
                <h1 class="heading-lg text-center" style="margin-top: 0px;">Who We Are</h1>
                <br>
                <p class="col-sm-12 block-text text-center">
                    Clemson Area International Friendship (CAIF) is a 501c3 community organization which coordinates hospitality and support services for foreign students, faculty and visitors in the Clemson area.
                </p>
            </div>
        </div>
    </div>
</div>
<div style="background-color: #f4f4f4;">
    <div style="padding: 150px 0px;">
        <div class="clearfix" style="text-align: center;">
            <div class="col-sm-6">
                <div style="padding-left: 10%; padding-right: 10%;">
                    <img src="{{ asset('bundles/caifshared/images/students1.JPG') }}" style="max-width: 100%; border-radius: 5px; box-shadow: 10px 10px rgba(100,100,100,.2);" />
                </div>
            </div>
            <div class="col-sm-6">
                <h1 class="heading-lg">Get Involved</h1>
                <br>
                <p class="col-md-offset-1 col-md-10 block-text text-left">
                    CAIF is always looking for members
                    who are interested in our international students and visitors. Most members wish to be involved
                    by serving as a host partner, however others may choose to be involved by helping with special events, conversational English classes, transportation, or a variety
                    of other activities.  Please complete the Host Form or Contact Us for more information.
                </p>
            </div>
        </div>
    </div>
</div>
<div style="background: url({{ asset('bundles/caifshared/images/unsplash2.jpg') }}); background-position: center 40%; background-repeat  : no-repeat; background-size : cover;">
    <div class="container" style="padding: 100px 0px;">
        <div style="text-align: center;">
            <div style="border: 1px solid rgba(255, 255, 255, .3); padding: 40px 15px; border-radius: 3px;">
                <h1 class="heading-lg color-white">Student Participation</h1>
                <br>
                <p class="color-white" style="font-size: 1.4em;">
                    To sign up for a host, complete the New Student Form.
                </p>
                <p class="block-text color-white" style="padding: 0px 15%;">
                    Please join our <a href="https://www.facebook.com/groups/ClemsonAreaInternationalFriendship/" target="_blank" class="primary-color">Facebook page</a> to learn about upcoming
                    events which may be of interest to you.  To sign up for a host family, complete the Student Form.
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
