{% extends 'CAIFSharedBundle:Shared:layout.html.twig' %}

{% block page_title_header %}
    Officers
{% endblock %}

{% block content %}
<div class="col-xs-12 col-md-3">
    {% import 'CAIFSharedBundle:Shared:macros.html.twig' as macros %}
    {{ macros.home_sub_nav('officers') }}
</div>
<div class="col-xs-12 col-md-9">
    <br><br>
    <!-- kathy -->
    <div class="row">
        <div class="col-sm-4">
            <center>
                <div style="display: block;
                width: 150px;
                height: 150px;
                max-width: 100%;
                background: #E6E7ED;
                border-radius: 75px;
                -webkit-border-radius: 75px;
                background-image: url(
                    {{ asset('bundles/caifshared/images/kathMabry.jpg') }}
                );
                background-position:50% 50%;
                background-repeat:no-repeat;
                background-size: cover;">
                </div>
            </center>
            {#<img src="{{ asset('bundles/caifshared/images/kathMabry.jpg') }}" class="pull-right" width="150px" style="max-width:150px; border-radius:50%;" />#}
        </div>
        <div class="col-sm-8">
            <h2>
                Kathy Mabry
                <small>President</small>
            </h2>
            <ul class="text-block" style="list-style: none;">
                <li>303 Stratford Drive</li>
                <li>Seneca, SC  29678</li>
                <li>Phone:  864-882-8141 or 864-710-2756</li>
                <li>Email:  <a href="mailto:sccaif@gmail.com">sccaif@gmail.com</a></li>
            </ul>
        </div>
    </div>
    <br><br><hr><br><br>

    <!-- reeta -->
    <div class="row">
        <div class="col-sm-4">
            <center>
                <div style="display: block;
                width: 150px;
                height: 150px;
                max-width: 100%;
                background: #E6E7ED;
                border-radius: 75px;
                -webkit-border-radius: 75px;
                background-image: url(
                    {{ asset('bundles/caifshared/images/reetaSinghVP.jpg') }}
                );
                background-position:50% 50%;
                background-repeat:no-repeat;
                background-size: cover;">
                </div>
            </center>
            {#<img src="{{ asset('bundles/caifshared/images/reetaSinghVP.jpg') }}" class="pull-right" width="150px" style="max-width:150px; border-radius:50%;" />#}
        </div>
        <div class="col-sm-8">
            <h2>
                Reeta Singh
                <small>Vice President</small>
            </h2>
            <ul class="text-block" style="list-style: none;">
                <li>Phone: 864-653-7539 or 864-723-1048</li>
                <li>Email:  <a href="mailto:reetasingh@hotmail.com">reetasingh@hotmail.com</a></li>
            </ul>
        </div>
    </div>
    <br><br><hr><br><br>

    <!-- varner -->
    <div class="row">
        <div class="col-sm-4">
            <center>
                <div style="display: block;
                width: 150px;
                height: 150px;
                max-width: 100%;
                background: #E6E7ED;
                border-radius: 75px;
                -webkit-border-radius: 75px;
                background-image: url(
                    {{ asset('bundles/caifshared/images/varners.jpg') }}
                );
                background-position:50% 50%;
                background-repeat:no-repeat;
                background-size: cover;">
                </div>
            </center>
            {#<img src="{{ asset('bundles/caifshared/images/varners.jpg') }}" class="pull-right" width="150px" style="max-width:150px; border-radius:50%;" />#}
        </div>
        <div class="col-sm-8">
            <h2>
                Jon &amp; Alana Varner
                <small>Host Friend Coordinators</small>
            </h2>
            <ul class="text-block" style="list-style: none;">
                <li><strong>Jon</strong></li>
                <li>Phone: 864-723-0821</li>
                <li>
                    Email:
                    <a href="mailto:jonvarner@bellsouth.net">
                        jonvarner@bellsouth.net
                    </a>
                </li>
                <li><strong>Alana</strong></li>
                <li>Phone: 864-723-6187</li>
                <li>
                    Email:
                    <a href="mailto:alanavarner@gmail.com">
                        alanavarner@gmail.com
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <br><br><hr><br><br>

    <!-- elaine -->
    <div class="row">
        <div class="col-sm-4">
            <center>
                <div style="display: block;
                width: 150px;
                height: 150px;
                max-width: 100%;
                background: #E6E7ED;
                border-radius: 75px;
                -webkit-border-radius: 75px;
                background-image: url(
                    {{ asset('bundles/caifshared/images/elaine_Laiewski.jpg') }}
                );
                background-position:50% 50%;
                background-repeat:no-repeat;
                background-size: cover;">
                </div>
            </center>
            {#<img src="{{ asset('bundles/caifshared/images/elaine_Laiewski.jpg') }}" class="pull-right" width="150px" style="max-width:150px; border-radius:50%;" />#}
        </div>
        <div class="col-sm-8">
            <h2>
                Elaine Laiewski
                <small>Treasurer</small>
            </h2>
            <ul class="text-block" style="list-style: none;">
                <li>139 Todd's Creek</li>
                <li>Central, SC 29630</li>
                <li>Phone: 864-508-0358</li>
                <li>Email:  <a href="mailto:lski139@gmail.com">lski139@gmail.com</a></li>
            </ul>
        </div>
    </div>
    <br><br><hr><br><br>

    <!-- pam -->
    <div class="row">
        <div class="col-sm-4">
            <center>
                <div style="display: block;
                width: 150px;
                height: 150px;
                max-width: 100%;
                background: #E6E7ED;
                border-radius: 75px;
                -webkit-border-radius: 75px;
                background-image: url(
                    {{ asset('bundles/caifshared/images/pamSchmutzRecordingSecretary.jpg') }}
                );
                background-position:50% 50%;
                background-repeat:no-repeat;
                background-size: cover;">
                </div>
            </center>
            {#<img src="{{ asset('bundles/caifshared/images/pamSchmutzRecordingSecretary.jpg') }}" class="pull-right" width="150px" style="max-width:150px; border-radius:50%;" />#}
        </div>
        <div class="col-sm-8">
            <h2>
                Pam Schmutz
                <small>Recording Secretary</small>
            </h2>
            <ul class="text-block" style="list-style: none;">
                <li>Phone: 864-506-5944</li>
                <li>Email:  <a href="mailto:pamschmutz@gmail.com">pamschmutz@gmail.com</a></li>
            </ul>
        </div>
    </div>
    <br><br>
</div>
{% endblock %}
