{% extends 'CAIFSharedBundle:Shared:layout.html.twig' %}

{% block page_title_header %}
    Site Map
{% endblock %}

{% block content %}
    <div class="col-xs-12 col-md-3">
        {% import 'CAIFSharedBundle:Shared:macros.html.twig' as macros %}
        {{ macros.help_sub_nav('site-map') }}
    </div>
    <div class="col-xs-12 col-md-9">
        <br>
        <ul>
            <li>
                <strong>Home</strong>
                <ul>
                    <li><a href="{{ path('caif_shared_index') }}">Home</a></li>
                    <li><a href="{{ path('caif_shared_about') }}">Who We Are</a></li>
                    <li><a href="{{ path('caif_shared_mission') }}">Mission</a></li>
                    <li><a href="{{ path('caif_shared_testimonials') }}">Testimonials</a></li>
                    <li><a href="https://www.facebook.com/groups/ClemsonAreaInternationalFriendship/" target="_blank">Upcoming Events</a></li>
                </ul>
            </li>
            <li>
                <strong>Students</strong>
                <ul>
                    <li><a href="{{ path('caif_shared_student_form') }}">Form</a></li>
                    <li><a href="{{ path('caif_shared_student_guidelines') }}">Guidelines</a></li>
                </ul>
            </li>
            <li>
                <strong>Community Members</strong>
                <ul>
                    <li><a href="{{ path('caif_shared_host_conversation') }}">Intro to Hosting Students</a></li>
                    <li><a href="{{ path('caif_shared_host_form') }}">Form</a></li>
                    <li><a href="{{ path('caif_shared_host_guidelines') }}">Guidelines</a></li>
                </ul>
            </li>
            <li>
                <strong>Helpful Resources</strong>
                <ul>
                    <li><a href="{{ path('caif_shared_event_intl_club') }}">International Club</a></li>
                    <li><a href="{{ path('caif_shared_event_wives_club') }}">International Wives Club</a></li>
                    <li><a href="http://www.clemsoncommunitycare.org/" target="_blank">Clemson Community Care</a></li>
                    <li><a href="https://docs.google.com/presentation/d/1A047101edGc_aDRClVG3GMki5VeQSBofhLwoXjgR6Eo/edit#slide=id.p4" target="_blank">Buying a Used Car</a></li>
                    <li><a href="{{ path('caif_shared_event_english_classes') }}">English Classes</a></li>
                </ul>
            </li>
            <li>
                <strong><a href="{{ path('caif_shared_contact') }}">Contact Us</a></strong>
            </li>
            <li>
                <strong>Login</strong>
                <ul>
                    <li>
                        <strong>My Profile</strong>
                        <ul>
                            <li>Overview</li>
                            <li>Edit Profile</li>
                            <li>Change Password</li>
                            <li>View Community Member / Student Profile</li>
                        </ul>
                    </li>
                    <li>Help</li>
                    <li>Logout</li>
                </ul>
            </li>
        </ul>
    </div>
{% endblock %}
