<nav class="navbar" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">CAIF</a>
        </div>

        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                {# <li style="padding-top: 10px; margin-right: 20px;">
                    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                        <input type="hidden" name="cmd" value="_s-xclick" />
                        <input type="hidden" name="hosted_button_id" value="A4YHE4E3NNPJ4" />
                        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
                        <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
                    </form>
                </li> #}
                <li style="padding-top: 10px; margin-right: 20px;">
                    <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                        <input type="hidden" name="cmd" value="_s-xclick">
                        <input type="hidden" name="hosted_button_id" value="A4YHE4E3NNPJ4">
                        <input type="submit" class="btn btn-header" role="button" value="Donate" style="padding: 10px 25px; font-size: 1em; margin-top: 2px;">
                    </form>
                </li>
                <li>
                    <a href="{{ path('caif_shared_contact') }}">
                        Contact Us
                    </a>
                </li>

                {% if app.user is not null %}
                    <li class="dropdown">
                        <a class="dropdown-toggle user-dropdown" data-toggle="dropdown" href="#">
                            <span>
                                {{ app.user }}
                            </span>
                            <i class="fa fa-caret-down user-dropdown-toggle"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            {% if is_granted('ROLE_ADMIN') %}
                                <li>
                                    <a href="{{ path('caif_manage_index') }}">
                                        {{ icon('cogs') }}
                                        Admin
                                    </a>
                                </li>
                            {% endif %}
                            {% if app.user.entityType == "Host" or app.user.entityType == "Student" %}
                                <li>
                                    <a href="{{ path('caif_shared_profile_' ~ app.user.entityType|lower, {'person': app.user.id}) }}">
                                        {{ icon('user') }}
                                        My Profile
                                    </a>
                                </li>
                            {% endif %}
                            <li>
                                <a href="{{ path('caif_shared_faq') }}">
                                    {{ icon('question-circle') }}
                                    Help
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="/logout">
                                    {{ icon('power-off') }}
                                    Logout
                                </a>
                            </li>
                        </ul>
                    </li>
                {% else %}
                    <li class="dropdown">
                        <a class="dropdown-toggle login-dropdown" data-toggle="dropdown" href="#">
                            <span>
                                Login
                            </span>
                            <i class="fa fa-caret-down login-dropdown-toggle"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li>
                                <a href="/login">
                                    {{ icon('sign-in') }}
                                    Login
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('caif_shared_faq') }}">
                                    {{ icon('question-circle') }}
                                    Help
                                </a>
                            </li>
                        </ul>
                    </li>
                {% endif %}
            </ul>

            {% set primary_navigation = knp_menu_get('CAIFSharedBundle:Builder:mainMenu') %}
            {{ knp_menu_render(primary_navigation, { 'style': 'navbar', 'depth' : 2 }) }}
        </div>
    </div>
</nav>
