{% extends 'CAIFManageBundle::layout.html.twig' %}

{% set sub_nav_section = 'emails' %}

{% block page_title_header %}
    Manage Email
{% endblock %}

{% block manage_content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <a href="{{ path('caif_manage_email_index') }}">
                Sent Emails
            </a>
            &raquo;
            Email Details
        </div>
        <div class="panel-body">
            <table class="table table-striped table-bordered">
                <tr>
                    <th>Date</th>
                    <td>{{ email.createdAt|date('m/d/Y') }}</td>
                </tr>
                <tr>
                    <th>To</th>
                    <td>{{ email.to }}</td>
                </tr>
                <tr>
                    <th>Subject</th>
                    <td>{{ email.subject }}</td>
                </tr>
            </table>
            <br>
            {{ email.message|raw|nl2br }}
        </div>
    </div>
{% endblock %}
