{% extends 'CAIFManageBundle::layout.html.twig' %}

{% set sub_nav_section = 'english-class' %}

{% block page_title_header %}
    Manage English Classes
{% endblock %}

{% block manage_content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <a href="{{ path('caif_manage_english_class_index') }}">
                All English Classes
            </a>
            {% if class is defined %}
                &raquo;
                <a href="{{ path('caif_manage_english_class_show', {'englishClass': class.id}) }}">
                    Class Details
                </a>
                &raquo;
                Edit
            {% else %}
                &raquo;
                Add
            {% endif %}
        </div>
        <div class="panel-body">
            {{ form_start(form) }}
                {{ form_rest(form) }}
                <button class="btn btn-purple pull-right">
                    {{ icon('check') }}
                    Save
                </button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
