{% extends 'CAIFSharedBundle:Shared:layout.html.twig' %}

{% block page_title_header %}
    Testimonials
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-3">
            <img src="{{ asset('bundles/caifshared/images/testimonials/Mindy.jpg') }}" style="max-width:100%; max-height: 200px; float: right;">
        </div>
        <div class="col-sm-9">
            <h2>
                Mindy
                <small>China</small>
            </h2>
            <p class="text-block">
                "Being an international student in U.S. is not the most exciting thing if you have been through all this: homesick, onely, helpless. But having a host family here changed everything. You have people who treat you as family, who help and care about you. The warmth you get from family can support you to keep going and smiling at life"
            </p>
        </div>
    </div>
    <br><hr><br>
    <div class="row">
        <div class="col-sm-3">
            <img src="{{ asset('bundles/caifshared/images/testimonials/Fuyu.jpg') }}" style="max-width:100%; max-height: 200px; float: right;">
        </div>
        <div class="col-sm-9">
            <h2>
                Fuyu
                <small>China</small>
            </h2>
            <p class="text-block">
                "I am so fortunate that I met such a lovely family. I couldn't adjust to life in Clemson so fast and so well without their help. I am deeply thankful for that they open their house and their heart to me, and for their patience and care. I work hard without fear because I know I always have a home to go to and have a family to stay with. I love my host family so much."
            </p>
        </div>
    </div>
    <br><hr><br>
    <div class="row">
        <div class="col-sm-3">
            <img src="{{ asset('bundles/caifshared/images/testimonials/Matheus.jpg') }}" style="max-width:100%; max-height: 200px; float: right;">
        </div>
        <div class="col-sm-9">
            <h2>
                Matheus
                <small>Brazil</small>
            </h2>
            <p class="text-block">
                "It was so comforting to have my host family pick me up at the airport after a long flight!  I was starving, so we stopped at Hardee’s, and I had my first American hamburger and fries.  Because I did not have a car, they picked me up every Sunday for church and when they were out of the country for 3 months, they loaned me their car!  As a student I became an avid Clemson Tiger football fan and to this day, I stream all of the games here in Brazil. Go Tigers!!"
            </p>
        </div>
    </div>
    <br><hr><br>
    <div class="row">
        <div class="col-sm-3">
            <img src="{{ asset('bundles/caifshared/images/testimonials/Shehzad.jpg') }}" style="max-width:100%; max-height: 200px; float: right;">
        </div>
        <div class="col-sm-9">
            <h2>
                Shehzad
                <small>India</small>
            </h2>
            <p class="text-block">
                "I have had the privilege of counting so many people as my host friends. Each has blessed me with many unique opportunities from teaching me to wake board and waterski to hiking and backpacking to checking so many things off my bucket list.  I have explored more than 25 states with my host friend.  CAIF has truly helped me live my life to the fullest."
            </p>
        </div>
    </div>
    <br><hr><br>
    <div class="row">
        <div class="col-sm-3">
            <img src="{{ asset('bundles/caifshared/images/testimonials/Mabry.jpg') }}" style="max-width:100%; max-height: 200px; float: right;">
        </div>
        <div class="col-sm-9">
            <h2>
                Kathy Mabry
                <small>Former CAIF President</small>
            </h2>
            <p class="text-block">
                "My family has been 'adopting' students for 10+ years. Over 30 delightful college students have graced our home throughout the years, representing the countries of India, China, Iran, Germany, El Salvador, and Japan. We have shared many laughs, meaningful conversations about a variety of topics, and LOTS of good food. It has been our great joy to celebrate many graduations, birthdays, achievements, marriages, birth of new babies, etc. with our international friends. We also count it a privilege to have been 'mom and dad' during some very difficult times in the lives of our students. My husband and I try to treat these young people the way we hope some kind family would treat our daughters if they were in another country."
            </p>
        </div>
    </div>
    <br><hr><br>
    <div class="row">
        <div class="col-sm-3">
            <img src="{{ asset('bundles/caifshared/images/testimonials/Caldwell.jpg') }}" style="max-width:100%; max-height: 200px; float: right;">
        </div>
        <div class="col-sm-9">
            <h2>
                Bill &amp; Connie Caldwell
                <small>CAIF Community Members</small>
            </h2>
            <p class="text-block">
                "Serving as a CAIF host family has been so much fun! We started with what we thought were 4 students, but later learned that one was married and had a 5 year old son. Then when a couple of them couldn't make it to our house for a cookout because they couldn't drive, they talked a friend into bringing them and soon we had another! Never had a large family until we "adopted" international students--it has been a tremendous blessing getting to know them and helping them integrate into the American culture."
            </p>
        </div>
    </div>
{% endblock %}
